body{
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Georgia', sans-serif;
  background-color: pink
}



h1{
  font-size: 20px;
}

figcaption{
  background-color: #BEBEBE;
}

.mainbody{
  background-color: #EB94B9;
  padding:10px;
  font-size:1em;
}




li{
  padding:5,10,5,10;
  font-size:1em;
}
img{
  width: 80%;
  height: 80%;
}
h6{
  background-color: #BEBEBE;
}
